In [7]:
import pandas as pd
import numpy as np

In [64]:
raw_data=pd.read_csv("aceleracaoLinear_terra.csv",sep=",")
n=len(raw_data.axes[0])   #finding no of readings
raw_data.describe()

0                    0
1              9858081
2             19624600
3             39279720
4             58934840
5             78895163
6             98550282
7            118205402
8            137799482
9            157454602
10           177079201
11           196734321
12           216389440
13           236014040
14           255608118
15           275232718
16           294887838
17           314573479
18           334167558
19           353822677
20           373447277
21           393804365
22           412665954
23           431954830
24           451579430
25           471204029
26           490859148
27           510483748
28           530169389
29           549793988
             ...
64615    1268511155048
64616    1268530504964
64617    1268550068523
64618    1268570730815
64619    1268589439803
64620    1268609003361
64621    1268628627961
64622    1268648252560
64623    1268667877160
64624    1268687532279
64625    1268707187399
64626    1268726812000
64627    1268746375558
64628    1268766061198
64629    1268785685797
64630    1268805310396
64631    1268824934996
64632    1268844590116
64633    1268864214715
64634    1268883839314
64635    1268903494434
64636    1268923515798
64637    1268943109878
64638    1268962734477
64639    1268982328556
64640    1269001983675
64641    1269021608275
64642    1269041202355
64643    1269060796434
64644    1269080573635
Name: uptimeNanos, Length: 64645, dtype: int64

In [32]:
time=raw_data['uptimeNanos']-raw_data['uptimeNanos'][0]   #Setting the reference time for the observation with respect to the first received observation.. 
time

        uptimeNanos             x             y             z
count  6.464500e+04  64645.000000  64645.000000  64645.000000
mean   1.217219e+13      0.001441     -0.005214     -0.081292
std    3.663693e+11      0.863282      0.838432      0.536945
min    1.153764e+13     -6.821630     -6.210632     -5.677019
25%    1.185490e+13     -0.458187     -0.450720     -0.318134
50%    1.217220e+13     -0.014632     -0.000370     -0.095094
75%    1.248947e+13      0.430904      0.456551      0.135446
max    1.280672e+13      7.366034      6.332817     10.306388

In [72]:
#Working on the groundTruth dataset
ground_truth=pd.read_csv("groundTruth.csv",sep=",") #reading the ground truth csv file
#ground_truth.head()
event_size=len(ground_truth.axes[0])    #No of events described in ground truth
start=ground_truth[' inicio'] *(10**9)  #starting time of every event
end=ground_truth[' fim']*(10**9)        #end time for each event label
                                        #Conversion from seconds to nanoseconds

False

In [69]:
def framing(a):
    t=0
    for i in range(event_size):
        s=start[i]
        e=end[i]
        for j in range(t,n):
            if(a[j]>=s):
                window(a,i,6)
                t=a[j]
            else if(a[i]>e):
                break

0     6.500000e+09
1     2.350000e+10
2     3.350000e+10
3     9.800000e+10
4     2.515000e+11
5     3.523000e+11
6     4.890000e+11
7     4.995000e+11
8     5.900000e+11
9     7.538000e+11
10    8.440000e+11
11    9.832000e+11
12    1.090900e+12
13    1.142000e+12
14    1.202900e+12
15    1.213500e+12
Name:  fim, dtype: float64